<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
<link rel="stylesheet" href="style.css">

<div class="wrapper">

  <div class="left">

    <img src="https://i.imgur.com/sQnKvHH.jpeg" alt="user" width="100">

    <h4>Reejit Biswas</h4>

    <p>Student & Developer</p>

  </div>

  <div class="right">

    <div class="info">


      <h3>Information</h3>

      <div class="info_data">

        <div class="data">

          <h4>Email</h4>

          <p>guardiansofspartax@gmail.com</p>

        </div>
      </div>
    </div>
      
    
    <div class="data">
        <h4>Instagram</h4>

          <a href="https://www.instagram.com/_notreejit_">


            <img alt="Instagram" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQD7ZB2yLJW8z_x2l7ZpQBfBTbMWdX7pRUbyw&usqp=CAU" width="30" height="30">

          </a>

        </div>
      </div>




    <div class="projects">


      <h3>Projects</h3>

      <div class="projects_data">

        <div class="data">

          <h4>Recent</h4>

          <a href="https://instagram.com/whyknotmemes">Instagrambot</a>

        </div>

        <div class="data">

          <h4>Most Viewed</h4>

          <a href="https://instagram.com/whyknotmemes">Instagrambot</a>

        </div>

      </div>

    </div>



    <div class="social_media">

      <ul>

        <li><a href="https://telegram.me/sakuraka"><i class="fab fa-telegram"></i></a></li>


        <li><a href="https://instagram.com/_notreejit_"><i class="fab fa-instagram"></i></a></li>



      </ul>

    </div>

  </div>
